body {
	background-color: #F1DA4E;
}

h1 {
	background-color: white;
	text-align: center;
	font-family: sans-serif;
	font-style: bold;
}

.container {
	width: 400px;
	height: 400px;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
}
/*
.container img {
	max-width: 150%;
	height: auto;
}
*/
